@import "compass/reset";


html{
  body{
    background-color:#ffffff;
    header{
      font-family: "Segoe UI";
      background-color: rgb(10, 35, 61);
      height:130px;
      width: 100%;
      padding-top:30px;
      #logo{
        height:40px;
        vertical-align: middle;
        padding-left:35px;
      }
      #libero-text{
        padding-left:40px;
        font-size: 50px;
        display:inline;
        color: #ffffff;
        vertical-align: middle;
        font-family: "Times New Roman";
        font-weight: 200;
      }
        ul{
          display: inline;
          list-style: none;
          margin-left:25px;
          padding-left:45px;
          li{
            font-size: 25px;
            display: inline;
            color: pink;
            padding: 20px;
            margin-left: 0px;
            a{
              text-decoration: none;
              color: #ffffff;
            }
            a:hover{
              text-decoration: underline;
            }
          }
        }

      #search{
        float:right;
        margin-right:20px;
      }
    }
  }
}

