#left-section{
    height:500px;
}

.bdRadius {
    border-radius: 20px;
}

.borderHeight {
    border: 2px solid rgb(64, 119, 242);
    height: 30px;
}

#feelAboutRecycling {
    font-size: 50px;
}

#headerright{
    font-size: 100px;
}
#sectionright{
    float:left;
}
