#main-footer {
    border: 1px solid;
}

#left-section {
    float: left;
    width: 65%;
    height: 650px;
}

#right-section {
    float: left;
    width: 205px;
    height: 650px;
}

.clear {
    clear: both;
}

#headerright{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.border{
    border: rgb(64,119,242);
    background-color: rgb(64,119,242);
  /*  width:205px;*/
    height:13px;
}
.rightImages {
    /*   display:table;*/
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    background-position:center top;
    height:350px;
}
#sectionright_H1a {
    position: relative;
    color: white;
    letter-spacing: -1px;
    font-size: 25px;
    font-family: Calibri;
    z-index: 1;
    margin-top: 35px;
}
.img-wrap {
    background: black;
    line-height: 0;
    z-index: 0;
    opacity: 0.5;
    height: 120px;
    position: absolute;
}

#sectionright_H2a span{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    /*    top: 759px;*/
    color: white;
    letter-spacing: -1px;
    background: rgb(68, 92, 147);
    background: rgba(68, 92, 147);
    font-size: small;
    margin-top: 22px;
}

.sectionright_F{
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    margin-top: 42px;
}
#articleBottom{
    margin-top: 17px;
}
#sectionright_H1b {
    position: relative;
    color: white;
    letter-spacing: -1px;
    font-size: 25px;
    font-family: Calibri;
    z-index: 1;
    margin-top: 34px;
}

#sectionright_H2b span{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    /*    top: 975px;*/
    color: white;
    letter-spacing: -1px;
    background: rgb(68, 92, 147); !* fallback color *!
    background: rgba(68, 92, 147);
    font-size: small;
    margin-top: 23px;
}
