#left-section{
    height:500px;
}

.bdRadius {
    border-radius: 20px;
}

.borderHeight {
    border: 2px solid rgb(64, 119, 242);
    height: 30px;
}
<<<<<<< HEA
}
>>>>>>> origin/master
#headerright{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
#sectionright{
    float:left;
}
