/* line 1, ../sass/screen.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0a233d;
}

/* line 12, ../sass/screen.scss */
/* line 10, ../sass/screen.scss */
li {
  float: left;
}

/* line 14, ../sass/screen.scss */
/* line 14, ../sass/screen.scss */
li a {
  display: block;
  color: white;
  text-align: right;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 30px;
}

/* line 22, ../sass/screen.scss */
.active a:hover:not(.active) {
  text-decoration: underline;
}

/* line 25, ../sass/screen.scss */
.active {
  text-decoration: underline;
}

/* line 28, ../sass/screen.scss */
body {
  background-color: pink;
}

/* line 31, ../sass/screen.scss */
.main-header {
  height: 150px;
  font-family: "Segoe UI";
}

/* line 35, ../sass/screen.scss */
#logo {
  height: 70px;
  vertical-align: middle;
}
