/* line 5, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/******************************************HEADER******************************************/
/* line 4, ../sass/screen.scss */
html body {
  background-color: #ffffff;
}
/* line 6, ../sass/screen.scss */
html body .parent-header {
  display: block;
  font-family: "Segoe UI";
  background-color: #0a233d;
  height: 200px;
}
/* line 11, ../sass/screen.scss */
html body .parent-header #main-header {
  padding-top: 70px;
}
/* line 13, ../sass/screen.scss */
html body .parent-header #main-header #logo {
  height: 50px;
  vertical-align: middle;
  padding-left: 35px;
  display: inline;
}
/* line 19, ../sass/screen.scss */
html body .parent-header #main-header #libero-text {
  display: inline;
  padding-left: 40px;
  font-size: 60px;
  color: #ffffff;
  vertical-align: middle;
  font-family: "Times New Roman";
  font-weight: lighter;
}
/* line 28, ../sass/screen.scss */
html body .parent-header #main-header .nav {
  display: inline;
  list-style: none;
  margin-left: 25px;
  padding-left: 45px;
}
/* line 33, ../sass/screen.scss */
html body .parent-header #main-header .nav li {
  font-size: 30px;
  display: inline;
  color: pink;
  padding: 20px;
  margin-left: 0px;
}
/* line 39, ../sass/screen.scss */
html body .parent-header #main-header .nav li a {
  text-decoration: none;
  color: #ffffff;
}
/* line 43, ../sass/screen.scss */
html body .parent-header #main-header .nav li a:hover {
  text-decoration: underline;
}
/* line 48, ../sass/screen.scss */
html body .parent-header #main-header #search {
  float: right;
  padding-right: 20px;
  height: 65px;
}

/******************************************SECTION LEFT******************************************/
/* line 68, ../sass/screen.scss */
#ls-container {
  margin-top: 20px;
  padding: 70px;
  border-right: 3px solid #878787;
}

/* line 74, ../sass/screen.scss */
#ls-body {
  margin-top: 30px;
  margin-left: 30px;
}

/* line 79, ../sass/screen.scss */
#feelAboutRecycling {
  font-size: 4em;
}

/* line 83, ../sass/screen.scss */
.radioBtn {
  width: 80px;
  text-align: center;
  vertical-align: text-top;
  background-color: #4077f2;
}

/* line 90, ../sass/screen.scss */
#yesRadioContainer {
  margin: 0;
}

/* line 94, ../sass/screen.scss */
#postCodeContainer {
  width: 140px;
  padding: 5px;
}
/* line 97, ../sass/screen.scss */
#postCodeContainer input {
  border: 0;
  width: 120px;
  height: 25px;
  margin-left: 7px;
  font-size: 20px;
  color: #4077f2;
}
/* line 105, ../sass/screen.scss */
#postCodeContainer input:focus {
  outline: none;
}

/* line 110, ../sass/screen.scss */
#noRadioContainer {
  margin-top: -33px;
  margin-left: 110px;
}

/* line 115, ../sass/screen.scss */
.bdRadius {
  border-radius: 20px;
}

/* line 119, ../sass/screen.scss */
.borderHeight {
  border: 4px solid #4077f2;
  height: 25px;
}

/* line 124, ../sass/screen.scss */
.defFont {
  font-family: "Calibri";
  font-size: 2.5em;
  color: #3f3f3f;
}

/* line 130, ../sass/screen.scss */
.darkBlue {
  color: #0a233d;
}

/* line 134, ../sass/screen.scss */
input[type=radio]:not(old) {
  width: 2em;
  margin-left: -15px;
  padding: 0;
  font-size: 1em;
  opacity: 0;
}

/* line 142, ../sass/screen.scss */
input[type=radio]:not(old) + label {
  display: inline-block;
  margin-left: -2em;
  line-height: 1.5em;
  color: white;
  font-family: "Calibri";
}

/* line 156, ../sass/screen.scss */
input[type=radio]:not(old) + label > span {
  display: inline-block;
  width: 0.875em;
  height: 0.875em;
  margin: 0.25em 0.5em 0.25em 0.25em;
  border: 0.0625em solid silver;
  border-radius: 10px;
  background: #e0e0e0;
  background-image: -moz-linear-gradient(#f0f0f0, #e0e0e0);
  background-image: -ms-linear-gradient(#f0f0f0, #e0e0e0);
  background-image: -o-linear-gradient(#f0f0f0, #e0e0e0);
  background-image: -webkit-linear-gradient(#f0f0f0, #e0e0e0);
  background-image: linear-gradient(#f0f0f0, #e0e0e0);
  vertical-align: bottom;
}

/* line 172, ../sass/screen.scss */
input[type=radio]:not(old):checked + label > span {
  background-image: -moz-linear-gradient(#e0e0e0, #f0f0f0);
  background-image: -ms-linear-gradient(#e0e0e0, #f0f0f0);
  background-image: -o-linear-gradient(#e0e0e0, #f0f0f0);
  background-image: -webkit-linear-gradient(#e0e0e0, #f0f0f0);
  background-image: linear-gradient(#e0e0e0, #f0f0f0);
}

/* line 180, ../sass/screen.scss */
input[type=radio]:not(old):checked + label > span > span {
  display: block;
  width: 0.5em;
  height: 0.5em;
  margin: 0.125em;
  border: 0.0625em solid #4077f2;
  border-radius: 10px;
  background: #99cc66;
  background-image: -moz-linear-gradient(#ffffff, #ffffff);
  background-image: -ms-linear-gradient(#ffffff, #ffffff);
  background-image: -o-linear-gradient(#ffffff, #ffffff);
  background-image: -webkit-linear-gradient(#ffffff, #ffffff);
  background-image: linear-gradient(#ffffff, #ffffff);
}

/* line 195, ../sass/screen.scss */
#submitContainer {
  width: 200px;
  height: 50px;
  text-align: center;
  vertical-align: text-top;
  background-color: #0a233d;
  border-color: #0a233d;
  border-radius: 40px;
  float: right;
}
/* line 204, ../sass/screen.scss */
#submitContainer input {
  border: 0;
  margin-top: 7px;
  background-color: #0a233d;
  color: white;
  font-family: "Calibri";
  font-size: 30px;
}

/* line 214, ../sass/screen.scss */
#postCodeContainer, #emailAddContainer, #mobileNumContainer {
  width: 140px;
  padding: 5px;
}
/* line 217, ../sass/screen.scss */
#postCodeContainer input, #emailAddContainer input, #mobileNumContainer input {
  border: 0;
  margin-top: 0px;
  height: 25px;
  width: 360px;
  margin-left: 20px;
  font-size: 25px;
  color: #4077f2;
}
/* line 226, ../sass/screen.scss */
#postCodeContainer input:focus, #emailAddContainer input:focus, #mobileNumContainer input:focus {
  outline: none;
}

/* line 231, ../sass/screen.scss */
#postCodeContainer {
  width: 250px;
}
/* line 233, ../sass/screen.scss */
#postCodeContainer input {
  width: 200px;
}

/* line 238, ../sass/screen.scss */
#emailAddContainer, #mobileNumContainer {
  width: 400px;
}

/* line 242, ../sass/screen.scss */
#emailAddLabel, #mobileNumLabel {
  font-size: 2.2em;
}

/********************************SECTION RIGHT**********************************/
/* line 248, ../sass/screen.scss */
#right-section {
  padding-top: 100px;
  padding-left: 20px;
}
/* line 252, ../sass/screen.scss */
#right-section article img {
  position: absolute;
  z-index: 0;
}

/* line 259, ../sass/screen.scss */
#headerright {
  color: #0a233d;
}

/* line 263, ../sass/screen.scss */
.sectionright_F {
  color: #3f3f3f;
}

/***************************FOOTER ***************************************/
/* line 269, ../sass/screen.scss */
#main-footer {
  clear: both;
  width: 100%;
}
/* line 272, ../sass/screen.scss */
#main-footer section {
  width: 1000px;
  margin: 0 auto;
}

/* line 278, ../sass/screen.scss */
.footer-menu {
  float: left;
  /*width: 8%;*/
  padding: 20px;
  line-height: 20px;
  color: #0a233d;
  font-family: Arial;
  margin: 0 15px;
  font-size: 16px;
  font-weight: bold;
}

/* line 290, ../sass/screen.scss */
.footer-category {
  padding: 5px 5px;
  border-bottom: 1px solid #4077f2;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

/* line 298, ../sass/screen.scss */
.list-right {
  width: 50%;
  border-radius: 50%;
  border: 1px solid #4077f2;
  background-color: #4077f2;
  width: 20px;
  height: 20px;
}

/* line 308, ../sass/screen.scss */
.list-area {
  float: left;
  width: 50px;
  margin-top: 22px;
  margin-left: 70px;
}

/* line 315, ../sass/screen.scss */
.list-area div {
  margin-bottom: 20px;
}

/* line 319, ../sass/screen.scss */
.list-text {
  float: left;
  width: 50px;
}

/* line 325, ../sass/screen.scss */
.text-right {
  color: #0a233d;
  font-size: 18px;
  width: 50px;
  margin-top: 25px;
  float: left;
  font-weight: bold;
  font-family: Roboto, Serif;
}
